.con{
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    width: 40rem;
    min-height: 10rem;
    padding: 1rem 3.6rem;
    padding-left: 1rem;
    direction: rtl;
}

.close{
    height: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.title{
    width: 100%;
    font-weight: 500;
    direction: rtl;
    text-align: right;
}